package server

import (
	"net/http"

	"{{ .PluginConfig.Module }}/ui/pages"
)

func (s *Server) handlePageData() http.Handler {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		w.Header().Set("Content-Type", "text/html")
		pages.DefaultData.Render(r.Context(), w)
	})
}
